.predefinedPipe,.custmPipes{
    border: 1px solid gray;
    width: 400px;
    height: 100vh;
    padding: 20px;
    margin: 20px;
}
.pipe{
    display: flex;
    justify-content: center;
}
h2{
    color: red;
}