
<div class="pipe">
    <div class="predefinedPipe">
        <h1>PredefinedPipe</h1>
    
        <h1>Uppercase Pipe</h1>
        <h2>Uppercase text: {{ text | uppercase }}</h2>
        
        
        <h1>Lowercase Pipe</h1>
            <h2>Lowercase text: {{ text | lowercase }}</h2>
        
            <h1>Currency Pipe</h1>
            <h2> currency: {{ currencyValue | currency }}</h2>
        
            <h1>Percent Pipe</h1>
            <h2>Formatted percentage: {{ percentageValue | percent }}</h2>
        
            <h1>Date Pipe</h1>
            <h2>Current date: {{ currentDate | date }}</h2>

            <h1>JSON Pipe</h1>
            <h2><pre>{{ object | json }}</pre></h2>
        
        </div>
        
        
           <div class="custmPipes">
            <h1>Custom Pipe</h1>
            <h1>reverse  Pipe</h1>
            <h2>reverse text: {{ text | reverse }}</h2>
            
            <h1>reverse slice Pipe</h1>
            <h2>reverse slice text: {{ text | reverseSlice }}</h2>
            
            
            <h1>INDIAN Currency Pipe</h1>
            <h2> INDIAN currency: {{ currencyValue | indianRup }}</h2>
            
            
            <h1>Date Pipe (yyy-mm-dd)</h1>
            <h2>Current date(yyy-mm-dd): {{ Date | dateFormat }}</h2>

            
            
            
           </div>
</div>